h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #283618;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mensajeError{
    background-color: #bc4749;
    color: white;
    border-radius: 10px;
    padding: 5px;
}